* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #171717;
    font-family: 'Roboto', sans-serif;
}

.title {
    font-size: 3.6rem
}

.todo-div {
    margin: 2.4rem auto;
    padding: 2.4rem;
    width: 50%;
    background-color: #262626;
    border-radius: 0.4rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    align-items: center;

}

.todo-item {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    list-style: none;
    padding: 1.2rem;
    margin: 1.2rem 0;
    background-color: #525252;
    color: #fff;
    border-radius: 0.4rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
}

.item-checkbox {
    width: 1.6rem;
    height: 1.6rem;
    accent-color: #ff4d4d; /* Change the color of the checkbox */
    cursor: pointer;
    transition: all 0.3s;
    margin-right: 1rem;
}

.item-checkbox:hover {
    transform: scale(1.1); /* Slightly enlarge the checkbox on hover */
}

.item-title {
    font-size: 2.4rem;
    font-weight: 550;
}

.item-desc {
    font-size: 1.8rem;
}

.item-date {
    justify-self: end;
    font-size: 1.4rem;
    color: #737373;
    font-weight: 600;
}

.item-delete {
    justify-self: end;
    margin-left: 1rem;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    transition: all 0.5s;
}

.item-delete:hover {
    color: #ff4d4d;
}

.btn:link,
.btn:visited,
.btn {
    display: inline-block;
    background-color: #fff;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
    text-decoration: none;

    transition: all 0.5s;


    border: none;
    cursor: pointer;
}

.btn.btn-add-new {
    background-color: #22d3ee;
    color: #fff;
}

.btn.btn-add-new:hover {
    background-color: #c026d3;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    backdrop-filter: blur(5px); /* Apply blur effect */
    z-index: 999; /* Ensure it is below the form but above other elements */
}

.form-add {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.6rem;
    background-color: #0891b2;
    border-radius: 0.4rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure it is above other elements */
    padding: 2rem;
}

.form-add label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.form-add input,
.form-add select,
.form-add textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    border: none;
    border-radius: 9px;
    font-family: inherit;
    color: inherit;
    background-color: #d2e5f7;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn-sub {
    background-color: #155e75;
}

.btn-sub:hover {
    background-color: #0d3e4f;
}

.hidden {
    display: none;
}